.dashboard {
    padding: 200px 0 96px;
    &__inner {
        position: relative;
    }
    &__content {
        display: grid;
        grid-template: 416px 200px / repeat(2, 352px);
        grid-gap: 80px;
        position: absolute;
        left: 400px;
        top: 0px;
        color: $bgColor;
        padding-bottom: 40px;
    }
    &__invest,
    &__withdraw {
        width: 352px;
        height: 416px;
    }
    &__invest,
    &__withdraw,
    &__refferal {
        @include whiteContainer;

        padding: 24px 32px;

        &-item {
            display: flex;
            margin-top: 32px;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
        &-title {
            font-weight: 600;
            font-size: 20px;
            line-height: 29px;
        }
        &-num {
            font-weight: 800;
            font-size: 32px;
            line-height: 39px;
            letter-spacing: 0.08em;
        }
        &-img {
            width: 64px;
            height: 64px;
            margin-right: 24px;
        }
    }
    &__refferal {
        @include whiteContainer;
        width: 784px;
        height: 200px;
        letter-spacing: 0.08em;
        &-item {
            display: flex;
            justify-content: space-between;
            &--flex-start {
                justify-content: flex-start;
            }
        }
        &-content {
            display: flex;
        }
        &-descr {
            margin-left: 32px;
        }
        &-title {
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.08em;
            &:nth-child(2n) {
                font-weight: 800;
            }
        }
        &-icon {
            font-size: 52px;
            &:last-child {
                cursor: pointer;
                font-size: 40px;
            }
        }
    }
}

@media screen and (max-width: 1152px) {
    .dashboard {
        padding: 160px 0 64px;
        &__content {
            grid-template: repeat(2, 416px) 232px / 520px;
            grid-gap: 64px;
            color: $bgColor;
            left: calc(50% - 88px);
        }
        &__invest,
        &__withdraw {
            width: 520px;
            height: 416px;
            padding: 28px 40px;
            display: grid;
            grid-gap: 40px;
            grid-template: repeat(2, 160px) / repeat(2, 200px);
            &-item {
                flex-direction: column;
                align-items: center;
                margin-top: 0;
                width: 216px;
                text-align: center;
            }
            &-img {
                margin-right: 0px;
                letter-spacing: 0.04em;
            }
            &-content {
                margin-top: 16px;
            }
            &-num {
                margin-top: 12px;
            }
        }
        &__refferal {
            width: 520px;
            height: 232px;
            &-descr {
                margin-left: 16px;
            }
            &-title:nth-child(2n) {
                font-weight: 600;
                letter-spacing: 0.02em;
            }
            &-upline {
                font-weight: 800 !important;
                letter-spacing: 0.04em !important;
            }
            &-icon {
                font-size: 48px;
                &:last-child {
                    font-size: 32px;
                }
            }
        }
    }
}

@media screen and (max-width: 927px) {
    .dashboard__content {
        left: calc(50% - 260px);
    }
}

@media screen and (max-width: 429px) {
    .dashboard {
        padding: 136px 0 64px;
        &__content {
            grid-template: repeat(2, 732px) 240px / 320px;
            grid-gap: 48px;
            left: calc(50% - 160px);
        }
        &__invest,
        &__withdraw {
            width: 320px;
            height: 732px;
            padding: 40px;
            display: grid;
            grid-gap: 32px;
            grid-template: repeat(2, 144px) / 240px;
            &-item {
                width: 240px;
            }
            &-img {
                width: 64px;
                height: 64px;
            }
            &-content {
                margin-top: 12px;
            }
            &-num {
                line-height: 24px;
                font-size: 24px;
                margin-top: 8px;
            }
        }
        &__refferal {
            width: 320px;
            height: 200px;
            padding: 16px 8px;
            &-descr {
                margin-left: 8px;
            }
            &-title {
                font-size: 22px;
                line-height: 27px;
                letter-spacing: 0.02em;
                &:nth-child(2n) {
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: 0;
                }
            }
            &-upline {
                line-height: 27px !important;
                letter-spacing: 0.08em !important;
                font-size: 22px !important;
            }
            &-icon {
                font-size: 40px;
                &:last-child {
                    font-size: 28px;
                }
            }
        }
    }
}