.dashboard {
    padding: 200px 0 96px;
    &__inner {
        position: relative;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        position: relative;
        display: grid;
        grid-template: 416px 200px / repeat(2, 352px);
        grid-gap: 80px;
        position: absolute;
        left: 400px;
        top: 0px;
        color: $bgColor;
    }
    &__invest,
    &__withdraw {
        width: 352px;
        height: 416px;
    }
    &__invest,
    &__withdraw,
    &__refferal {
        @include whiteContainer;

        padding: 24px 32px;

        &-item {
            display: flex;
            margin-top: 32px;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
        &-title {
            font-weight: 600;
            font-size: 20px;
            line-height: 29px;
        }
        &-num {
            font-weight: 800;
            font-size: 32px;
            line-height: 39px;
            letter-spacing: 0.08em;
        }
        &-img {
            width: 64px;
            height: 64px;
            margin-right: 24px;
        }
    }
    &__refferal {
        @include whiteContainer;
        width: 784px;
        height: 200px;
        letter-spacing: 0.08em;
        i {
            font-size: 56px;
        }
        &-item {
            justify-content: space-between;
            &--w273px {
                width: 216px;
            }
        }
        &-title {
            display: flex;
            div {
                margin-left: 24px;
            }
            &--column {
                flex-direction: column;
            }
        }
        &-icon-copy {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 1152px) {
    .dashboard {
        padding: 160px 0 64px;
        &__content {
            grid-template: repeat(2, 416px) 232px / 520px;
            grid-gap: 64px;
            left: 400px;
            top: 0px;
            color: $bgColor;
        }
        &__invest,
        &__withdraw {
            width: 520px;
            height: 416px;
            padding: 28px 40px;
            display: grid;
            grid-gap: 40px;
            grid-template: repeat(2, 160px) / repeat(2, 200px);
            &-item {
                flex-direction: column;
                align-items: center;
                margin-top: 0;
                width: 216px;
                text-align: center;
            }
            &-img {
                margin-right: 0px;
                letter-spacing: 0.04em;
            }
            &-content {
                margin-top: 16px;
            }
            &-num {
                margin-top: 12px;
            }
        }
        &__refferal {
            width: 520px;
            height: 232px;
            i {
                font-size: 48px;
            }
        }
    }
}

@media screen and (max-width: 927px) {
    .dashboard__content {
        left: calc(50% - 260px);
    }
}

@media screen and (max-width: 429px) {
    .dashboard {
        padding: 136px 0 64px;
        &__content {
            grid-template: repeat(2, 732px) 200px / 320px;
            grid-gap: 48px;
            left: calc(50% - 160px);
        }
        &__invest,
        &__withdraw {
            width: 320px;
            height: 732px;
            padding: 40px;
            display: grid;
            grid-gap: 32px;
            grid-template: repeat(2, 144px) / 240px;
            &-item {
                width: 240px;
            }
            &-img {
                width: 64px;
                height: 64px;
            }
            &-content {
                margin-top: 12px;
            }
            &-num {
                line-height: 24px;
                font-size: 24px;
                margin-top: 8px;
            }
        }
        &__refferal {
            width: 320px;
            height: 240px;
            padding: 24px 12px;
            i {
                font-size: 40px;
            }
            &-item {
                &--w273px {
                    width: 192px;
                }
            }
            &-title {
                display: flex;
                div {
                    margin-left: 8px;
                    width: 200px;
                }
                &--column {
                    flex-direction: column;
                }
            }
            &-link {
                font-size: 18px;
                letter-spacing: 0;
            }
        }
    }
}
