@media screen and (max-width: 1152px) {
    .mining-power {
        padding: 176px 0 96px;
        &__content {
            grid-template: 192px repeat(4, 272px) / 528px;
            grid-gap: 40px;
            left: calc(50% - 88px);
        }
    }
    &__info {
        width: 400px;
        height: 192px;
        flex-direction: column;
        align-items: center;
        padding: 32px;
        margin: 0 auto;
    }
    &__item {
        height: 120px;
        width: 528px;
        &-content {
            height: 120px;
            padding: 20px 24px;
        }
        &-label,
        &-dropdown {
            margin-top: 12px;
        }
    }
    &__hide {
        width: 528px;
        height: 152px;
        padding: 12px;
        justify-content: space-around;
        &-data {
            font-size: 15px;
            line-height: 15px;
        }
    }
}

@media screen and (max-width: 927px) {
    .mining-power__content {
        left: calc(50% - 264px);
    }
}

@media screen and (max-width: 429px) {
    .mining-power {
        padding: 136px 0 56px;
        &__content {
            grid-template: 160px repeat(4, 360px) / 340px;
            grid-gap: 48px;
            left: calc(50% - 170px);
        }
        &__info {
            font-size: 22px;
            line-height: 27px;
            letter-spacing: 0.04em;
            height: 160px;
            width: 340px;
        }
        &__item {
            width: 340px;
            height: 152px;
            &-content {
                padding: 24px;
                svg {
                    height: 40px;
                }
            }
            &-curblock {
                width: 216px;
                display: flex;
                align-items: center;
            }
            &-currency {
                font-size: 24px;
                line-height: 18px;
                text-align: center;
                letter-spacing: 0.04em;
                margin-left: 16px;
            }
            &-range {
                margin-top: 12px;
            }
        }
        &__hide {
            margin-top: 32px;
            width: 340px;
            height: 208px;
            text-align: center;
        }
    }
}
