.advant {
    color: $light;
    &__subtitle {
        width: 960px;
        margin: 64px auto 0;
        display: flex;
        justify-content: space-between;
    }
    &__home,
    &__cloud {
        display: flex;
        &-subtitle {
            font-family: $titleFont;
            font-size: 28px;
            line-height: 22px;
            letter-spacing: 0.08em;
        }
        &-img {
            display: none;
        }
    }
    &__item {
        margin-top: 40px;
        &-title {
            text-align: center;
            font-weight: 600;
            font-size: 28px;
            letter-spacing: 0.08em;
        }
        &-inner {
            margin-top: 36px;
            display: flex;
            justify-content: space-between;
        }
        &-home,
        &-cloud {
            display: flex;
            width: 560px;
            column-gap: 16px;
        }
        &-cloud {
            flex-direction: row-reverse;
        }
        &-img {
            width: 64px;
            height: 64px;
        }
        &-descr {
            @include bigDescrStyle;
            color: $light;
            width: 480px;
            line-height: 26px;
            text-align: justify;
        }
    }
    &__btn {
        @include btnStyle;
        width: 216px;
        height: 56px;
        padding: 17px;
        margin: 56px auto 0;
        &:hover {
            box-shadow: 0 0 4px 4px $light;
        }
    }
}

@media screen and (max-width: 1152px) {
    .advant {
        &__subtitle {
            width: 800px;
        }
        &__home,
        &__cloud {
            &-subtitle {
                letter-spacing: 0.04em;
            }
        }
        &__item {
            margin-top: 36px;
            &-title {
                font-size: 24px;
                line-height: 29px;
            }
            &-inner {
                margin-top: 32px;
            }
            &-home,
            &-cloud {
                width: 420px;
                column-gap: 12px;
            }
            &-descr {
                width: 344px;
            }
        }
        &__btn {
            width: 192px;
            height: 48px;
            padding: 15px;
            margin: 48px auto 0;
            font-size: 18px;
            line-height: 22px;
            img {
                width: 20px;
            }
        }
    }
}

@media screen and (max-width: 927px) {
    .advant {
        &__subtitle {
            width: 640px;
        }
        &__home,
        &__cloud {
            &-subtitle {
                font-size: 24px;
            }
        }
        &__item {
            margin: 40px auto;
            &-title {
                font-size: 22px;
                letter-spacing: 0.06em;
            }
            &-inner {
                margin-top: 28px;
            }
            &-home,
            &-cloud {
                flex-direction: column;
                align-items: center;
                width: 304px;
                row-gap: 24px;
            }
            &-descr {
                width: 304px;
            }
        }
    }
}

@media screen and (max-width: 429px) {
    .advant {
        &__subtitle {
            margin-top: 48px;
            flex-direction: column;
            width: 216px;
        }
        &__home,
        &__cloud {
            display: flex;
            justify-content: space-between;
            &-subtitle {
                font-size: 20px;
                letter-spacing: 0.02em;
            }
            &-img {
                display: block;
                width: 24px;
                height: 24px;
            }
        }
        &__cloud {
            margin-top: 24px;
        }
        &__item {
            &-title {
                font-size: 22px;
                letter-spacing: 0.06em;
            }
            &-inner {
                margin-top: 0;
                flex-direction: column;
            }
            &-home,
            &-cloud {
                flex-direction: column;
                align-items: center;
                width: 320px;
                margin: 28px auto 0;
                row-gap: 16px;
            }
            &-descr {
                width: 320px;
            }
        }
    }
}