@import "_mixins.scss";

body {
    background-color: $bgColor;
    font-family: $mainFont;
    box-sizing: border-box;
}

:root {
    --animate-duration: 2s;
  }

.container {
    margin: 0 auto;
    max-width: 1264px;
}

@media screen and (max-width: 1152px) {
    .container {
        max-width: 944px;
    }
}

@media screen and (max-width: 927px) {
    .container {
        max-width: 688px;
    }
}

@media screen and (max-width: 429px) {
    .container {
        max-width: 340px;
    }
}

.title {
    margin: 104px auto 80px;
    color: #fff;
    font-family: $titleFont;
    font-size: 36px;
    letter-spacing: 0.12em;
    line-height: 28px;
    text-align: center;
    @media (max-width: 1152px) {
        margin: 80px auto 64px;
        font-size: 32px;
        letter-spacing: 0.08em;
        line-height: 25px;
    }
    @media (max-width: 927px) {
        margin: 80px auto 48px;
        font-size: 28px;
        letter-spacing: 0.06em;
        line-height: 22px;
    }
    @media (max-width: 429px) {
        margin: 64px auto 40px;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.04em;
    }
}

.link {
    color: $blue;
    text-decoration: underline;
}