.faq {
    margin-top: 176px;
    color: $light;
    .title {
        margin-bottom: 48px;
    }

    &__tabs {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 544px;
        &-btn {
            @include btnStyle;
            letter-spacing: 0;
            height: 64px;
            padding: 24px;
            background-color: rgba($color: $orange, $alpha: 0.8);
            color: $light;
            cursor: pointer;
            &:hover, &._active {
                color: $bgColor;
                background-color: rgba($color: $orange, $alpha: 0.9);
                box-shadow: 0 0 6px 2px rgba($color: $orange, $alpha: 0.8);
            }
        }
    }
    &__content {
        display: grid;
        grid-template: repeat(2, 88px) / repeat(3, 360px);
        gap: 64px 92px;
        margin-top: 64px;
    }
    &__item {
        position: relative;
        &-header {
            background-color: rgba($color: $blue, $alpha: 0.8);
            border-radius: 16px 16px 0 0;
            padding: 16px 24px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
        }
        &-question {
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
        }
        &-more {
            position: absolute;
            right: 16px;
            top: 12px;
            transition: 0.5s all;
        }
        &-answer {
            transition: 0.5s all;
            height: 0;
            opacity: 0;
            background-color: rgba($color: $blue, $alpha: 0.8);
            @include littleDescrStyle;
            line-height: 22px;
            text-align: justify;
            color: $light;
            border-radius: 0 0 16px 16px;
            padding: 16px 24px;
        }
        &-link {
            text-decoration: underline;
            display: block;
            color: $orange;
            margin-top: 24px;
            transition: 0.5s all;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

// UTILITY CLASSES

.faq__item--active {
    .faq__item-more {
        transform: rotate(45deg);
        transition: 0.5s all;
    }
    .faq__item-answer {
        transition: 0.5s all;
        height: auto;
        opacity: 1;
    }
}

._show {
    display: grid;
}
._hide {
    display: none;
}

.faq__content--active1 {
    grid-template: 320px 88px / repeat(3, 360px);
}

.faq__content--active2 {
    grid-template: 88px 320px / repeat(3, 360px);
}

// MEDIA QUERIES

@media (max-width: 1152px) {
    .faq {
        &__content {
            display: grid;
            grid-template: repeat(3, 112px) / repeat(2, 360px);
            gap: 56px 80px;
            margin: 56px auto 0;
            width: 800px;
        }
    }
    .faq__content--active1 {
        grid-template: 320px 320px 88px / repeat(2, 360px);
    }

    .faq__content--active2 {
        grid-template: 88px 320px 320px / repeat(2, 360px);
    }

    ._show {
        display: grid;
    }
    ._hide {
        display: none;
    }
}

@media screen and (max-width: 927px) {
    .faq {
        margin-top: 154px;
        &__tabs {
            width: 488px;
            &-btn {
                height: 48px;
                padding: 15px 25px;
            }
        }
        &__content {
            grid-template: repeat(3, 88px) / repeat(2, 320px);
            gap: 48px;
            margin-top: 48px;
            width: 688px;
        }
        &__item {
            padding: 16px;
            width: 320px;
            &-header {
                padding: 16px;
            }
            &-question {
                font-size: 18px;
                line-height: 22px;
            }
            &-more {
                right: 18px;
                top: 18px;
            }
            &-answer {
                font-weight: 400;
            }
        }
    }

    .faq__item--active {
        .faq__item-answer {
            height: 320px;
        }
    }

    .faq__content--active1 {
        grid-template: auto / repeat(2, 320px);
    }

    .faq__content--active2 {
        grid-template: auto / repeat(2, 320px);
    }

    ._show {
        display: grid;
    }
    ._hide {
        display: none;
    }
}

@media screen and (max-width: 429px) {
    .faq {
        &__tabs {
            width: 216px;
            flex-direction: column;
            &-btn {
                padding: 15px 27px;
                margin: 0 auto;
                width: 208px;
                &:nth-child(2) {
                    margin-top: 32px;
                    width: 216px;
                }
            }
        }
        &__content {
            grid-template: auto / 320px;
            width: 320px;
        }
        &__item {
            padding: 0;
            &-more {
                right: 10px;
                top: 10px;
            }
        }
    }
    
    .faq__content--active1 {
        grid-template: auto / 320px;
    }

    .faq__content--active2 {
        grid-template: auto / 320px;
    }

    ._show {
        display: grid;
    }
    ._hide {
        display: none;
    }
}