.signup{
    margin-top: 160px;
    padding-bottom: 112px;
    .title {
        margin-bottom: 48px;
    }
    &__inner {
        @include whiteContainer;
        width: 400px;
        height: 662px;
        padding: 28px 40px;
        margin: 0 auto;
    }
    &__upline,
    &__form-inp {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.04em;
    }
    &__upline {
        background-color: $blue;
        color: $light;
        border-radius: 8px;
        width: 320px;
        height: 64px;
        padding: 12px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        span {
            font-weight: 600;
        }
    }
    &__form {
        &-control {
            position: relative;
        }
        &-control.success input {
            border-color: $green;
        }
        &-control.error input {
            border-color: $orange;
        }
        &-control i {
            position: absolute;
            top: 38px;
            right: 16px;
            visibility: hidden;
        }
        &-control.success i.fa-check-circle {
            visibility: visible;
            color: $green;
        }
        &-control.error i.fa-exclamation-circle {
            visibility: visible;
            color: $orange;
        }
        &-control small {
            position: absolute;
            bottom: -14px;
            left: 0;
            visibility: hidden;
        }
        &-control.error small {
            visibility: visible;
            color: $orange;
        }
        &-inp,
        &-terms {
            margin-top: 24px;
        }
        &-inp {
            width: 320px;
            height: 40px;
            border-radius: 8px;
            border: 2px solid $bgColor;
            padding: 12px 16px;
        }
        &-captcha {
            width: 304px;
            height: 74px;
            background-color: $bgColor;
            padding: 16px;
            margin: 24px auto 0;
            color: $light;
        }
        &-terms {
            cursor: pointer;
            display: block;
            font-size: 16px;
            line-height: 20px;
            color: #240046;
            span {
                margin-left: 8px;
            }
        }
        &-btn {
            @include btnStyle;
            width: 200px;
            height: 48px;
            padding: 14px 15px;
            margin: 24px auto 0;
        }
    }
}

// MEDIA FOR SIGN UP

@media (max-width: 1152px) {
    .signup {
        &__form-btn {
            width: 184px;
        }
    }
}

@media screen and (max-width: 429px) {
    .signup {
        margin-top: 112px;
        padding-bottom: 0;
        .title {
            margin-bottom: 32px;
        }
        &__inner {
            width: 344px;
            height: 608px;
            padding: 16px;
        }
        &__upline,
        &__form-inp {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.04em;
        }
        &__upline,
        &__form-inp,
        &__form-captcha {
            width: 296px;
        }
        &__upline {
            height: 60px;
            margin-top: 8px;
            img {
                width: 28px;
                height: 28px;
            }
        }
        &__form {
            &-control i {
                position: absolute;
                top: 32px;
                right: 16px;
                visibility: hidden;
            }
            padding: 0 8px;
            &-inp,
            &-terms {
                margin-top: 20px;
                span {
                    margin-left: 0px;
                }
            }
            &-captcha,
            &-btn {
                margin: 20px auto 0;
            }
            &-btn {
                width: 168px;
            }
        }
    }
}

//  LOGIN

.login {
    &__inner {
        height: 360px;
    }
    &__form {
        &-control {
            position: relative;
        }
        &-control.success input {
            border-color: $green;
        }
        &-control.error input {
            border-color: $orange;
        }
        &-control i {
            position: absolute;
            top: 32px;
            right: 16px;
            visibility: hidden;
        }
        &-control.success i.fa-check-circle {
            visibility: visible;
            color: $green;
        }
        &-control.error i.fa-exclamation-circle {
            visibility: visible;
            color: $orange;
        }
        &-control small {
            position: absolute;
            bottom: -14px;
            left: 0;
            visibility: hidden;
        }
        &-control.error small {
            visibility: visible;
            color: $orange;
        }
        &-inp {
            margin-top: 20px;
        }
        &-btn {
            padding: 14px 36px;
            width: 144px;
        }
    }
}

// MEDIA FOR LOGIN

@media (max-width: 1152px) {
    .login {
        &__form-btn {
            padding: 14px 32px;
            width: 128px;
        }
    }
}

@media screen and (max-width: 429px) {
    .login {
        &__inner {
            height: 328px;
        }
        &__form {
            &-control i {
                position: absolute;
                top: 32px;
                right: 32px;
                visibility: hidden;
            }
            &-inp,
            &-captcha,
            &-btn {
                margin: 20px auto 0;
            }
            &-btn {
                width: 120px;
            }
        }
    }
}
