<div class="advant__item">
    <h4 class="advant__item-title">@@itemTitle</h4>
    <div class="advant__item-inner">
        <div class="advant__item-home animate__animated animate__fadeInLeft wow">
            <img src="img/advant_and_faq/close-circle.svg" alt="close-circle" class="advant__item-img">
            <div class="advant__item-descr">@@advantDescr</div>
        </div>
        <div class="advant__item-cloud animate__animated animate__fadeInRight wow">
            <img src="img/advant_and_faq/checkmark-circle.svg" alt="checkmark-circle"
                class="advant__item-img">
            <div class="advant__item-descr">@@disadvantDescr</div>
        </div>
    </div>
</div>