<div class="price__item animate__animated @@animType wow">
    <h3 class="price__item-title">@@itemTitle</h3>
    <div class="price__item-label">Developed for mining:</div>
    <div class="price__item-crypto">
        <img src="@@imgPath1" alt="@@imgAlt1" class="price__item-img">
        <div class="price__item-name">@@curName1</div>
    </div>
    <div class="price__item-crypto">
        <img src="@@imgPath2" alt="@@imgAlt2" class="price__item-img">
        <div class="price__item-name">@@curName2</div>
    </div>
    <div class="price__item-tariff">Price per 1 MH/s</div>
    <div class="price__item-cost">@@value</div>
</div>