.header {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    max-height: 96px;
    background-color: rgba(0, 0, 0, 0.72);
    transition: 1s all;
    &__inner,
    .menu__body,
    .menu__list,
    .menu__account,
    .menu__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        img {
            width: 160px;
        }
    }
    &__inner {
        padding: 10px 0;
        max-height: 96px;
    }
    .menu {
        &__icon {
            display: none;
        }
        &__body {
            width: 659px;
        }
        &__list {
            width: 399px;
        }
        &__link {
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 0.02em;
            line-height: 20px;
            color: #fff;
            text-transform: uppercase;
            &:hover {
                color: $orange;
                transition: 0.5s all;
            }
        }
        &__account {
            width: 228px;
            margin-left: 32px;
            &__signup,
            &__login {
                cursor: pointer;
            }
            .menu__link {
                span {
                    margin-left: 4px;
                }
            }
        }
    }
}

@media screen and (max-width: 927px) {
    .header {
        &__logo {
            img {
                width: 128px;
            }
        }
        &__inner {
            max-height: 80px;
        }
        .menu {
            &__icon {
                z-index: 5;
                display: block;
                position: relative;
                width: 56px;
                height: 34px;
                cursor: pointer;
                span,
                &::before,
                &::after {
                    position: absolute;
                    right: 0;
                    height: 6px;
                    transition: all 0.5s ease 0s;
                    background-color: #fff;
                    border-radius: 4px;
                }
                &::before {
                    content: "";
                    top: 0;
                    width: 56px;
                }
                &::after {
                    content: "";
                    bottom: 0;
                    width: 24px;
                }
                span {
                    top: 14px;
                    width: 40px;
                }
                &._active {
                    span {
                        transform: translateX(100%);
                        opacity: 0;
                    }
                    &::before {
                        top: 60%;
                        width: 100%;
                        transform: translateY(-100%) rotate(-45deg);
                    }
                    &::after {
                        bottom: 60%;
                        width: 100%;
                        transform: translateY(100%) rotate(45deg);
                    }
                }
            }
            &__body,
            &__list,
            &__account {
                flex-direction: column;
                justify-content: start;
            }
            &__body {
                position: fixed;
                top: 76px;
                left: -100%;
                width: 100%;
                height: calc(100% - 76px);
                background-color: rgba(0, 0, 0, 0.72);
                padding: 16vh 40px;
                transition: left 0.5s ease 0s;
                overflow: auto;
                &._active {
                    left: 0;
                }
                &::before {
                    content: "";
                    position: fixed;
                    left: 0;
                    top: 0;
                    width: 100%;
                    max-height: 80px;
                    z-index: 3;
                }
            }
            &__list > li {
                flex-wrap: wrap;
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
            &__link {
                font-size: 24px;
            }
            &__account {
                margin-left: 0;
                margin-top: 64px;
            }
            &__login {
                margin-top: 40px;
            }
        }
    }
}

@media screen and (max-width: 429px) {
    .header {
        &__logo {
            img {
                width: 120px;
            }
        }
        .menu {
            &__list {
                max-width: 360px;
            }
        }
    }
}
